body {
    font-family:'Courier New', Courier, monospace;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding:0px;
    margin:0px;
    height: 100%;
    color: rgb(255, 232, 219);
}
.logo {
    font-size: 26px;
}
html {
    background: url(/../../../../home/ian/repos/landing-page/img/pexels-bob-ward-3347244.jpg);
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: stretch;
    background-repeat: no-repeat;
    background-color: darkslategrey;
}
a {
    text-decoration:none;
    font-family:'Courier New', Courier, monospace;
    color: rgb(255, 232, 219);
    font-size: 16px;
}
.header, .hero {
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 15%;
    text-shadow: 0px 0px 5px orange;
}
.header ul {
    display: flex;
    gap: 16px;
}
li {
    list-style: none;
}
.main {
    width: 100%;
}
.hero {
    height: 100vh;
    gap: 32px;
}
.herotext {
    margin-left: 15%;
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}
.herobutton {
    width: 100px;
    height: 30px;
    background-color: rgb(255, 232, 219);
    border-radius: 20px;
    flex:auto;
}